.depoimentos {
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin-top: 50px;
}

.depoimentos h2 {
  font-size: 60px;
}

.title{
  text-align: center;
  padding-bottom: 50px;
}

.imgBox {
  padding-bottom: 10px;
  width: 100px;
}

.mySwiper{
  padding: 0px 150px 0px 80px;
}

.swipItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  padding: 30px 20px 50px 20px;
  margin-bottom: 10px;
  border: 1px solid #6460e642;
  box-shadow: 2px 2px 4px 1px rgba(10, 0, 0, 0.2);
  border-radius: 8px;
}

.swipItem img{
  width: 100%;
}

.swipItem h2 {
  font-size: 25px;
  font-weight: 500;
  color: #d835aa;
}

.swipItem h3 {
  font-size: 15px;
  font-weight: 500;
  color: #6560e6;
}
