.depoimentos {
  display: flex;
  flex-direction: column;
  padding: 100px;
}

.depoimentos h2 {
  font-size: 60px;
}

.title{
  text-align: center;
  padding-bottom: 50px;
}

.imgBox {
  padding-bottom: 10px;
  width: 100px;
}

.mySwiper{
  padding: 0px 100px;
}

.swipItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
}

.swipItem img{
  width: 100%;
}

.swipItem h2 {
  font-size: 25px;
  font-weight: 500;
  color: #d835aa;
}

.swipItem h3 {
  font-size: 15px;
  font-weight: 500;
  color: #6560e6;
}
