.promocao {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 80px;
}

.imgpromocao {
  padding: 100px;
  width: 100%;
  background-image: url('/img/fundo1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.imgpromocao {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgpromocao img {
  width: 95%;
  height: 80%;
  border-radius: 20px;
}

.ulpromocao li {
  display: flex;
  gap: 5px;
}

.textopromocao {
  padding-right: 100px;
}

.textopromocao h2 {
  font-size: 50px;
  color: #6560e6;
}

.ppromocao {
  font-size: 20px;
}

.textopromocao h3 {
  padding-top: 20px;
  font-size: 23px;
  color: #d835aa;
}

.passospromocao {
  font-weight: bold;
}