.button {
  padding: 6px 15px;
  border: 2.5px solid #93257486;
  border-radius: 8px;
  background: #fff;
  color: #9f4bc9;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.button:hover {
  background: #eee9ed;
}